body {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    justify-content: center;
}

#formCon {
    display:grid;
    width:500px;
    height: 500px;
}

input {
    height: 20px;
    margin-bottom: 10px;
}

.butts {
    width:fit-content;
    height:30px;
}

.buttCons {
    display:flex;
    justify-content: center;
}

h2 {
    margin-bottom: 10px;

}